body
{
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:12px;
  background-color: #FFF;
  color: #333;
  margin:0px;
}

circle {
  fill: steelblue;
}

path.link {
  fill: none;
  stroke: steelblue;
}

marker {
  stroke: rgb(6,120,155);
  fill: rgb(6,120,155);
}

.node_filter {
  position:absolute; 
  top: 55px;
  right: 10px;
  padding: 5px;
  color:# 666;
  background-color: #FFF;
  border:#CCC 1px solid;
  box-shadow: 0 0 6px #CCC;
  -moz-box-shadow: 0 0 6px #CCC;  
  -webkit-box-shadow: 0 0 6px #CCC; 
  -o-box-shadow: 0 0 6px #CCC; 
  -ms-box-shadow: 0 0 6px #CCC; 
  background-image: linear-gradient(bottom, rgb(245,245,245), rgb(255,255,255));
  background-image: -o-linear-gradient(bottom, rgb(245,245,245), rgb(255,255,255));
  background-image: -moz-linear-gradient(bottom, rgb(245,245,245), rgb(255,255,255));
  background-image: -webkit-linear-gradient(bottom, rgb(245,245,245), rgb(255,255,255));
  background-image: -ms-linear-gradient(bottom, rgb(245,245,245), rgb(255,255,255));
}
.node_filter b{
	font-weight:750;
	color:#333;
}

.interface_icon {
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  margin: 1px;
  color: white;
}

.infobar {
  display: none;
  position:absolute;
  right:10px;
  width:15%;
  top: 10px;
  border: 1px solid steelblue;
  height: 90%;
  padding: 5px;
  background-color: white;
}

.slider-vertical {
  border-radius: 5px;
  float: right;
  top: 100px;
  right: 45px;
  height: 200px;
}

.infobar ul{
  list-style-type:none;
  margin-left: 0;
  padding-left: 1em;
  font-size: small;
}

.navbar {
  position:absolute;
  top: 0px;
  padding:10px 0px;
  height:25px;
  width: 100%;
  color: #444;
  font-size:14px;
  z-index: 5;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  background-image: linear-gradient(bottom, rgb(230,230,230), rgb(250,250,250));
  background-image: -o-linear-gradient(bottom, rgb(230,230,230), rgb(250,250,250));
  background-image: -moz-linear-gradient(bottom, rgb(230,230,230), rgb(250,250,250));
  background-image: -webkit-linear-gradient(bottom, rgb(230,230,230), rgb(250,250,250));
  background-image: -ms-linear-gradient(bottom, rgb(230,230,230), rgb(250,250,250));
}

.navbar b{
	font-weight: 400;	
}
.navbar .brand{
	color:#222;
	font-size:18px;
	padding:0px 15px;
	text-shadow:#FFF 0px 1px 0px;
}

.node_filter {
  border-radius: 5px;
  display: none;
}

.visualisation {
  position:absolute;
  top: 45px;
  width: 100%;
  height:90%;
  z-index: -1;
}

.chart_rect {
  fill: rgba(255, 255, 255,0);
}

.size_box {
  display: none;
}


